.navigation {
    width: 200px;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    color: whitesmoke;

}

.heading {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

h1 {
    font-family: $brand-font;
}

.heading button {
    margin-left: 5px;
    text-decoration: none;
    background: none;
    color: chocolate;
    border: none;
}

.list {
    list-style: none;
    font-size: 18px;

}

.list a {
    text-decoration: none;
    color: whitesmoke;
    margin-left: 5px;
}

.list li {
    margin-top: 10px;
}

.contacts {
    margin-left: 10px;
}

.people {
    display: flex;
    align-items: center;
    position: relative;

    .online {
        background-color: green;
        border-radius: 50px;
        height: 12px;
        width: 12px;
        display: inline-block;
        position: absolute;
        top: 6%;
        left: 30%;
    }
}

.contacts img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-left: 10px;
}

.people p {
    margin-left: 20px;
}

//MEDIA

@media (min-width: 768px) and (max-width: 1024px) {
    .navigation.show {
        overflow: hidden;
        width: 64px;
        height: 64px;
        padding-top: 0;
        background: none;

        .list.hide,
        .contacts.hide {
            display: none;
        }
    }

    .heading h1 {
        display: none;
        margin-left: 0;
    }

    .navigation.heading.hamburger-icon {
        margin-left: 23px;
        margin-top: 20px;
    }

    .administration-panel {
        margin-left: 250px;
    }

}

@media(max-width: 767px) {
    .navigation.show {
        overflow: hidden;
        width: 64px;
        height: 64px;
        padding-top: 0;
        margin: 0;
        background: none;

        .list.hide,
        .contacts.hide {
            display: none;
        }
    }


    .heading {
        margin-left: 0;

        h1 {
            display: none;
        }
    }

    .navigation .heading .hamburger-icon {
        margin-left: 23px;
        margin-top: 20px;
    }
}